:root{
  --black-color: #000000;
  --white-color: #FFFFFF;
  --grey-color: #DEDEDE;
  --purpure-color: #5B17AA;
  --grey-light: #EEEEEE;
  --grey-bold: #6B6B6B;
}

.App{
  // max-width: 1200px;
  // margin: auto;
}
