.card{
	max-width: 400px;
	min-height: 246px;
	width: 100%;
	margin: auto;
	border: 1px solid var(--grey-color);
	&-img{
		width: 100%;
		margin: 0;
		height: 200px;
		object-fit: contain;
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	&-info{
		background-color: var(--grey-light);
		padding: 1rem 2rem;
		border: 1px solid var(--grey-color);
		&-title{
			margin-top: 0;
			font-weight: 500;
			font-size: 20px;
			height: 50px;
		}
		&-price{
			display: flex;
			justify-content: space-between;
			margin-bottom: .8rem;
			font-size: 20px;
			:first-child{
				color: var(--purpure-color);
				font-weight: 500;
			}
			:last-child{
				text-decoration: line-through;
				color: var(--grey-bold);
			}
		}
	}
}