.header{
	padding: .6rem 1.5rem;
	&-container{
		a{
			text-decoration: none;
		}
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		&-title{
			font-size: 35px;
			margin: 0;
			color: var(--black-color);
		}
		.btn-menu,
		.shopping{
			cursor: pointer;
			display: none;
		}
		&-content{
			padding-left: 1rem;
			display: grid;
			align-items: center;
			gap: .8rem;
			grid-template-columns: minmax(200px, 450px) 30px 30px 139px;
			a{
				text-decoration: none;
				span{
					color: var(--grey-bold);
				}
			}
		}
	}
}
@media(max-width: 751px){
	.header{
		&-container{
			grid-template-columns: 1fr;
			&-title{
				margin: 0 .3rem;
				font-size: 25px;
			}
			&-top{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: .3rem;
			}
			&-content{
				display: initial;
				padding: 0;
			}
		}
		.shopping,
		.btn-menu{
			display: block;
			font-size: 35px;
			color: var(--grey-bold);
		}
		.is-none{
			display: none;
		}
	}
}