.footer{
	background-color: var(--black-color);
	color: var(--white-color);
	padding: 2rem;
	&-content{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.is-flex{
		display: flex;
	}
	&-box{
		width: 25%;
		margin-bottom: .7rem;
		&-list{
			list-style: none;
			padding: 0;
			line-height: 30px;
			color: var(--grey-color);
		}
	}
	&-copyright{
		width: 100%;
		text-align: center;
		border-top: 1px solid var(--white-color);
		p{
			padding-top: 1.3rem;
			margin: 0;
		}
	}
}

@media(max-width: 800px){
	.footer{
		&-box{
			width: 270px;
			justify-content: space-around;
		}
	}
}