.c-search{
	display: flex;
	&-input{
		width: 100%;
		background: var(--grey-light);
		border: none;
		padding: .5rem;
		&::-webkit-input-placeholder {
			color: var(--grey-bold);
		}
	}
	&-icon{
		background-color: var(--grey-color);
		width: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}